
{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
{% endblock  %}





{% block herosection %}



    <h1 style="text-align: center; margin-top: 20px;">{{ title }}</h1>
    {% if description %}
     <p>{{description}}</p>
    {% endif %}

    {% include "components/accountform.html" with form=form btn_label=btn_label %}
    <div style="margin-bottom:20px">

    </div>
    
{% endblock herosection %}



{% block javascript %}

{% endblock javascript %}



    
