<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block css %}

    {% endblock css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/a7eb06a9bd.js"></script>    
</head>
<body>
   {% include 'components/navbar.html' %}

    <!-- Hero section -->
    {% block herosection %}

    {% endblock herosection %}

   
    

    <!-- Template Section -->
    {% block templatesection %}
   
    {% endblock %}

    <!-- Footer Section -->
    {% include 'components/footer.html' %}

      
    {% block javascript %}

    {% endblock javascript %}
    <script src='{% static "js/app.js" %}'></script>

</body>
</html>