{% extends 'home.html' %}
{% load crispy_forms_tags %}

{% block css %}


    <!-- Bootstrap CSS -->
    
{% endblock css %}


<h1>upload</h1>
{{ experienceForm.employer.label_tag }}

{% block form %}
<form method="POST" enctype="multipart/form-data"  class="bootstrap4"> 
<!-- <input type="file" name="document">
<button type="submit">
    upload file
</button> -->

    {% csrf_token %}
    
    <!-- {{resume.as_p }} -->

    <div class="card-body">

        {% for personal_data in personalInformation %}
        <div class="form-group">
            <div>
               {{ personal_data.label_tag }}
            {{ personal_data }}
            {{ personal_data.errors }}
            </div>
            
        </div>

        {% endfor %}
    </div>
    
    <table class="table form-table table-borded table-sm" id="table1">
        <thead class="text-center">
            <tr>
                <th>Employer</th>
                <th>job_title</th>
                <th>start_year</th>
                <th>start_month</th>
                <th>end_year</th>
                <th>end_month</th>
                <th>presently_work_here</th>
            </tr>
        </thead>
        <tbody>
            {% for form_data in experienceForm %}
              <tr class='item'>
                  <td>
                      {{ form_data.employer }}
                  </td>
                  <td>
                    {{ form_data.job_title }}
                  </td>
                <td>
                    {{ form_data.start_year }}
                </td>
                <td>
                    {{ form_data.start_month }}
                </td>
                <td>
                    {{ form_data.end_year }}
                </td>
                <td>
                    {{ form_data.end_month }}
                </td>
                <td>
                    {{ form_data.presently_work_here }}
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm remove-form-row" id="{{ experienceForm.prefix }}">Delete</button>
                </td>
              </tr>
            {%endfor %}
            <tr>
                <td colspan="9" style="border-left:none !important; border-right: none !important; border-bottom: none !important ;">
                    <button type="button" class="btn btn-sm btn-success add-form-row" id="{{ experienceForm.prefix }}">Add</button>
                </td>
            </tr>
        </tbody>
        {{ experienceForm.management_form }}
    </table>    
    
  <br>


  <table class="table form-table table-borded table-sm" id="table2">
    <thead class="text-center">
        <tr>
            <th>school_name</th>
            <th>country</th>
            <th>state</th>
            <th>degree</th>
            <th>field_of_study</th>
            <th>graduation_month</th>
            <th>graduation_year</th>
            <th>presently_school_here</th>
        </tr>
    </thead>
    <tbody>
        {% for education_data in educationForm %}
          <tr class='item'>
              <td>
                  {{ education_data.school_name }}
              </td>
              <td>
                {{ education_data.country }}
              </td>
            <td>
                {{ education_data.state }}
            </td>
            <td>
                {{ education_data.degree }}
            </td>
            <td>
                {{ education_data.field_of_study }}
            </td>
            <td>
                {{ education_data.graduation_month }}
            </td>
            <td>
                {{ education_data.graduation_year }}
            </td>
            <td>
                {{ education_data.presently_school_here }}
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm remove-form-row" id="{{ educationForm.prefix }}">Delete</button>
            </td>

           </tr>
        {%endfor %}
        <div class="newRow"></div>
        <tr>
            <td colspan="9" style="border-left:none !important; border-right: none !important; border-bottom: none !important ;">
                <button type="button" class="btn btn-sm btn-success add-form-row" id="{{ educationForm.prefix }}">Add</button>
            </td>
        </tr>
    </tbody>
    {{ educationForm.management_form }}
</table> 

    
    


    <button type="submit" class="btn btn-primary">Submit</button>

{%  endblock form %}
</form>

{% block javascript %}


<script>
    var number = 0

    function log(btn){

      
            var o = btn.parents("tr").children("td:eq(4)").toggleClass('d-none')
            var o = btn.parents("tr").children("td:eq(3)").toggleClass('d-none')
            
    }
   
   


    $(document).ready(function(){


        function updateElementIndex(el, prefix, ndx){
            var id_regex = new RegExp('(' + prefix + '-\\d+- )');
            var replacement = prefix + '-' + ndx + '-';
            if ( $(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
            if (el.id) el.id = el.id.replace(id_regex, replacement);
            if (el.name) el.name = el.name.replace(id_regex, replacement);
        }

        function addForm(btn, prefix){
            
            var formCount = parseInt($('#id_'+ prefix + '-TOTAL_FORMS').val());
            
             var table = btn.closest('table').find('tbody')
             var p = btn.closest('table').find('.add-form-row')
             
             
            // console.log(r)

        
           
            if (formCount < 1000){
                var row = btn.closest('table').find('tr.item:first-child').clone()
               
                

                table.append(row)
               
                $(".errorlist", row).remove();
                row.children().removeClass("error");
                

                row.find('.formset-field').each(function (){
                    updateElementIndex(this, prefix, formCount);
                    $(this).val(' ');
                    $(this).removeAttr('value')
                    $(this).prop('checked', false);
                    
                });


                $(row).find("delete").click(function (){
                    
                    return deleteForm(this, prefix);
                });

                $("#id_" + prefix + "-TOTAL_FORMS").val(formCount + 1);
            }
            return false;
        }
        

        function deleteForm(btn, prefix){
            var formCount = parseInt($('#id_'+ prefix + '-TOTAL_FORMS').val());
            var rowNumber = btn.closest('table').find('tr.item').length
            
            
  
            
            if (rowNumber  > 1){

                var goto_id = btn.find('input').val();
                
              
                if(goto_id){
                    $.ajax({
                        url:"/" + window.location.pathname.split("/")[1]+ "/formset-data-delete/"+ goto_id +"/?next="+window.location.pathname,
                        error: function(){
                            console.log('error')
                        },
                        success: function(data){
                            $(btn).parents('.item').remove();
                        },
                        type:'GET',
                    });
                }else{
                    
                    $(btn).parents('.item').remove();
                    rowNumber--
                    
                    
                  
                }

                var forms = $('.item');

                $('#id_'+ prefix + '-TOTAL_FORMS').val(rowNumber);
                var i = 0;

                for (formCount = forms.length; i < formCount; i++){
                    $(forms.get(i)).find('.formset-field').each(function(){
                        updateElementIndex(this, prefix, i);
                    
                    });
                }
            }
            
            return false
        }
            

        $('body').on('click', '.remove-form-row', function(){
           
            deleteForm($(this), String($(this).attr('id')));
        });


        $('body').on('click', '.add-form-row', function(){ 
           return addForm($(this), String($(this).attr('id')));
          
        });

    });


  
</script>


{% endblock javascript %}