    <!-- Hero section -->
    {% load static %}
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>PROFESSIONAL AND</h1>
                <h2>BEAUTIFUL RESUMES</h2>
                <p>Getting you closer to that job !!!</p>
                <button class="main__btn">
                    <a href="#templates">Get Started</a>
                </button>
            </div>
            <div class="main__img--container">
                <img id="main__img" src="{% static 'images/img1.svg' %}" alt="resume images">
            </div>
        </div>
    </div>