
    <!-- navbar section -->
    <nav class="navbars">
      <div class="navbar__container">
          <a href="/" id="navbar__logo">
           <i class="fas fa-gem"></i>   CV Maker
          </a>
          <div class="navbar__toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>

          <ul class="navbar__menu">
              <li class="navbar__item">
                  <a href="" class="navbar__links">
                      Home
                  </a>
              </li>
              {% if request.user.is_authenticated %}

              <li class="navbar__item">
                  <a href="" class="navbar__links">
                     Profile
                  </a>
              </li>
              <li class="navbar__item">
                <a href="{% url 'logout_view' %}" class="navbar__links">
                   logout
                </a>
            </li>
              {% else %}
              <li class="navbar__item">
                <a href="{% url 'login_view' %}" class="navbar__links">
                   Login
                </a>
            </li>

              <li class="navbar__btn">
                  <a href="{% url 'register_view' %}" class="button">
                     Sign Up
                  </a>
              </li>
              {% endif %}
          </ul>
      </div>
  </nav>






