
    <!-- Template Section -->
    <div class="template" id="templates">
        <h1>Lets get started !!!</h1>
        <h2>Select a template</h2>
        <div class="template__container">
            <div class="template__card" >
                <div class="template__img">
                    <img src="./images/template (2).jpg" alt="">
                </div>
                <h2>Experience Bliss</h2>
                <p>AI Powered Technology</p>
                <button>Use This template</button>
            </div>
            <div class="template__card">
                <div class="template__img">
                    <img src="./images/template (1).jpg" alt="">
                </div>
                <h2>Happiness</h2>
                <p>Take the leap</p>
                <button>Use This template</button>
            </div>
            <div class="template__card">
                <div class="template__img">
                    <img src="./images/template (1).jpg" alt="">
                </div>
                <h2>Happiness</h2>
                <p>Take the leap</p>
                <button>Use This template</button>
            </div>
            
        </div>
    </div>


