
    <!-- Template Section -->
    <div class="template" id="templates">
        <h1>Lets get started !!!</h1>
        <h2>Select a template</h2>
        <div class="template__container">
            {% for template in templates %}
            <div class="template__card" >
                <div class="template__img">
                    {% if  template.image %}
                    <img src="media/{{ template.image }}" alt="template_cover_image">
                    {% else %}
                    <img src="" alt="template_cover_image">
                    {% endif %}

                </div>
                
                <h2>{{ template.title }}</h2>
                <p>{{ template.description }}</p>
                <a type="button" href="{% url 'resumeForm' template.id  %}">Use this template</a>
            </div>
            {% endfor %}
           
            
        </div>
    </div>


